<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AdventureWorks2008R2Entities" connectionString="metadata=res://*/AdventureWorks2008R2.csdl|res://*/AdventureWorks2008R2.ssdl|res://*/AdventureWorks2008R2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BT1SVX00\BTSQLCORADEV01;initial catalog=AdventureWorks2008R2;User Id=USR_ADVENTUREWORKS;Password=PWD_ADVENTUREWORKS;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>